/* reset */
/* Import in your CSS */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

body {
  min-height: 100vh;
  outline: 5px blue solid;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  outline: 5px blue solid;
  padding: 2em;
}

header,
footer {
  height: 3rem;
}

main {
  flex-grow: 1;
  outline: 5px red solid;
  padding: 1em;
}

.comment-div {
  /* background-color: burlywood; */
  padding: 1em;
  /* border: 2px blue solid; */
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.individual-comment {
  padding: 1em;
  border: 2px blue solid;
  border-radius: 1rem;
  width: 20rem;
  flex-grow: 1;
}
